VITE_BREVO_API_KEY=your_brevo_api_key
VITE_BREVO_SENDER_EMAIL=contact@amsp.fr
VITE_BREVO_ADMIN_EMAIL=contact@amsp.fr
VITE_BREVO_TEMPLATE_INSCRIPTION=1
VITE_BREVO_TEMPLATE_VALIDATION=2
VITE_BREVO_TEMPLATE_COMPTE=3
VITE_BREVO_TEMPLATE_CONTACT=4
